# ==================================
# Personal Folder
# ==================================
private/

# ==================================
# Jupyter
# ==================================
.ipynb_checkpoints/

# ==================================
# Python
# ==================================
__pycache__/
*.py[cod]

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env
.env.*

# ==================================
# Python Cache
# ==================================
.pytest_cache/
.mypy_cache/
.cache/

# ==================================
# Logs
# ==================================
*.log

# ==================================
# Operating System
# ==================================
.DS_Store
Thumbs.db